<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vizitkovník</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<div class="detail">
    <form class="formular" th:action="@{/nova}" method="post">
        <div class="row">
            <label for="celeJmeno" class="form-label">Jméno</label>
            <input type="text" class="form-control" th:field="${vizitka.celeJmeno}" maxlength="100" th:errorclass="is-invalid" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('vizitka.celeJmeno')}" th:errors="${vizitka.celeJmeno}">Jméno je povinný údaj.</div>
        </div>
        <div class="row">
            <label for="firma" class="form-label">Firma</label>
            <input type="text" class="form-control" th:field="${vizitka.firma}" maxlength="100" th:errorclass="is-invalid" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('vizitka.firma')}" th:errors="${vizitka.firma}">Firma je povinný údaj.</div>
        </div>
        <div class="row">
            <label for="ulice" class="form-label">Ulice a čísla</label>
            <input type="text" class="form-control" th:field="${vizitka.ulice}" maxlength="100" th:errorclass="is-invalid" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('vizitka.ulice')}" th:errors="${vizitka.ulice}">Ulice je povinný údaj.</div>
        </div>
        <div class="row">
            <label for="obec" class="form-label">Obec</label>
            <input type="text" class="form-control" th:field="${vizitka.obec}" maxlength="100" th:errorclass="is-invalid" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('vizitka.obec')}" th:errors="${vizitka.celeJmeno}">Obec je povinný údaj.</div>
        </div>
        <div class="row">
            <label for="psc" class="form-label">PSČ</label>
            <input type="text" class="form-control" th:field="${vizitka.psc}" minlength="5" maxlength="5" pattern="[0-9]{5}" th:errorclass="is-invalid" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('vizitka.psc')}" th:errors="${vizitka.psc}">PSČ je povinný údaj.</div>
        </div>
        <div class="row">
            <label for="email" class="form-label">E-mail <small>(volitelný)</small></label>
            <input type="email" class="form-control" th:field="${vizitka.email}" maxlength="100" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('vizitka.email')}" th:errors="${vizitka.email}">Chybný formát e-mailu.</div>
        </div>
        <div class="row">
            <label for="telefon" class="form-label">Telefon <small>(volitelný)</small></label>
            <input type="tel" class="form-control" th:field="${vizitka.telefon}" maxlength="20" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('vizitka.telefon')}" th:errors="${vizitka.telefon}">Chybný formát telefonního čísla.</div>
        </div>
        <div class="row">
            <label for="web" class="form-label"> Web <small>(volitelný)</small></label>
            <input type="url" class="form-control" th:field="${vizitka.web}" maxlength="100" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('vizitka.web')}" th:errors="${vizitka.web}">Chybný formát webu.</div>
        </div>
        <div class="form-controls">
            <button type="submit">Odeslat</button>
        </div>
    </form>

    <nav>
        <a href="/">◂ zpět na seznam</a>
    </nav>
</div>
</body>
</html>
